html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'sans-serif';
    background-color: #edeef0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.footer {
	flex: 0 0 auto;
}

.content {
    margin-top: 7%;
    margin-left: 15%;

}

.main-news {
    width: 70%;
    text-align: justify;
}


.news-image {
    margin-top: 30px;
    margin-bottom: 30px;
}
